<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Product <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div >
  
  <div class="row">
    <div class="col-md-6">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of projects">
            <th scope="row">{{data.title}}</th>
            <td>{{data.description}}</td>
            <td><button type="button" (click)="edit(data)">Edit</button></td>
            <td><button type="button" (click)="delete(data)">Delete</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" formControlName="title" class="form-control"
             />
          
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" formControlName="description" class="form-control"
             />
          
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          
        </div>
      </form>
    </div>
  </div>
</div>